# === Java ===
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.log

# Maven
target/
model/target/*
dependency-reduced-pom.xml
release.properties
buildNumber.properties
.mvn/timing.properties

# Gradle (por si usas en el futuro)
.gradle/
build/
!gradle-wrapper.jar

# Java compiler crash logs
hs_err_pid*
replay_pid*

# Javadoc local output
doc/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# BlueJ
*.ctxt

# === IntelliJ IDEA ===
.idea/
*.iml
*.iws
*.ipr
out/

# IntelliJ specific to module/classpath
/modules.xml
/workspace.xml
/tasks.xml
/usage.statistics.xml
/shelf/

# === OS/system files ===
.DS_Store
Thumbs.db
desktop.ini

# === Others you might want to exclude ===
*.swp
*.swo
*.bak
*.tmp